body{
    background: url('https://c4.wallpaperflare.com/wallpaper/914/746/419/abstract-digital-art-minimalism-simple-background-wallpaper-preview.jpg');
    padding: none;
    background-repeat: no-repeat;
    background-size: cover;
}

.selectoption{
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'algerian';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


.label-85 {
    padding: 10px 20px; 
     display: block;
    font-size: 18px;
    padding: 0.6em 2em;
  border: none;
  outline: none;
  color:cyan;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.label-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-label-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .label-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(54, 59, 59);
    left: 0;
    top: 0;
    border-radius: 10px;
  }
.button-85 {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
    padding: 0.6em 2em;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  .countrycss{
    z-index: 10 ;
    width: 1000px;
  }
  .playeroccur{
    border: solid 1px white;
    padding: 10px;
    background: 'transparent';
    margin-right: 500px;
    height: 20px;
    margin-bottom: -80px;
    margin-left: 200px;
    width: auto;
    color: yellow;
    font-size: x-large;
  }